<template>
    <f7-page>
        <header-section></header-section>
        <f7-block>

            <f7-list media-list inset class="ln_mr_0">
            <h2 class="size32_regular" >Account</h2>
            <f7-list-item
                link="#"
                title="Sybil Wish"
                subtitle="sybil.wish@gmail.com">
                <img slot="media" src="http://lorempixel.com/88/88/fashion/4" width="44" />
            </f7-list-item>
            </f7-list>

            <div class="ln_dfex">
                <h3 class="ln_dfex_h4">My address</h3>
                <f7-link href="/about/">Edit</f7-link>
            </div>
            <f7-swiper>
                <f7-swiper-slide>
                    <div class="account_marker_checks">
                        <div class="account_marker_cover">
                            <div class="account_marker_cover_1 margin-right">
                               <f7-icon  color = "black" f7="world_fill"></f7-icon>
                            </div>
                            <div class="account_marker_cover_2" >
                                <span class="account_marker_cover_2span1">Taipei</span>
                                <span class="account_marker_cover_2span2">Flying Road 100</span>

                            </div>
                        </div>

                        <label class="checkbox">
                            <!-- checkbox input -->
                            <input type="checkbox">
                            <!-- checkbox icon -->
                            <i class="icon-checkbox ln_icon-checkbox"></i>
                        </label>
                    </div>

                </f7-swiper-slide>
                <f7-swiper-slide>
                    <div class="account_marker_checks">
                        <div class="account_marker_cover">
                            <div class="account_marker_cover_1 margin-right">
                               <f7-icon  color = "black" f7="world_fill"></f7-icon>
                            </div>
                            <div class="account_marker_cover_2" >
                                <span class="account_marker_cover_2span1">Taipei</span>
                                <span class="account_marker_cover_2span2">Flying Road 100</span>

                            </div>
                        </div>

                        <label class="checkbox">
                            <!-- checkbox input -->
                            <input type="checkbox">
                            <!-- checkbox icon -->
                            <i class="icon-checkbox ln_icon-checkbox"></i>
                        </label>
                    </div>
                </f7-swiper-slide>
                <f7-swiper-slide>
                    <div class="account_marker_checks">
                        <div class="account_marker_cover">
                            <div class="account_marker_cover_1 margin-right">
                               <f7-icon  color = "black" f7="world_fill"></f7-icon>
                            </div>
                            <div class="account_marker_cover_2" >
                                <span class="account_marker_cover_2span1">Taipei</span>
                                <span class="account_marker_cover_2span2">Flying Road 100</span>

                            </div>
                        </div>

                        <label class="checkbox">
                            <!-- checkbox input -->
                            <input type="checkbox">
                            <!-- checkbox icon -->
                            <i class="icon-checkbox ln_icon-checkbox"></i>
                        </label>
                    </div>
                </f7-swiper-slide>
            </f7-swiper>
            <h3 class="ln_dfex_h4">My account</h3>
            <f7-list>
                <f7-list-item link="#" title="Reward points" after="200 Points">
                    <f7-icon icon="demo-list-icon"></f7-icon>
                </f7-list-item>
                <f7-list-item link="#" title="Redeem for cash" after="50 NTD">
                    <f7-icon  icon="demo-list-icon"></f7-icon>
                </f7-list-item>
                <f7-list-item link="#" title="Coupons" after="3 Coupons">
                    <f7-icon  icon="demo-list-icon"></f7-icon>
                </f7-list-item>
                <f7-list-item link="#" title="Order history">
                    <f7-icon  icon="demo-list-icon"></f7-icon>
                </f7-list-item>
                <f7-list-item link="#" title="Invoice">
                    <f7-icon  icon="demo-list-icon"></f7-icon>
                </f7-list-item>
                <f7-list-item link="#" title="Details & password">
                    <f7-icon  icon="demo-list-icon"></f7-icon>
                </f7-list-item>
                <f7-list-item title="With toggle">
                <f7-icon  icon="demo-list-icon"></f7-icon>
                <f7-toggle slot="after"></f7-toggle>
              </f7-list-item>
              <f7-list-item link="#" title="Message">
                <f7-icon  icon="demo-list-icon"></f7-icon>
            </f7-list-item>
            <f7-list-item link="#" title="Information">
                <f7-icon  icon="demo-list-icon"></f7-icon>
            </f7-list-item>
            </f7-list>
            <h3 class="ln_dfex_h4">Setting</h3>
            <f7-list>

                <f7-list-item link="#" title="Language" after="English">
                    <f7-icon  icon="demo-list-icon"></f7-icon>
                </f7-list-item>
                <f7-list-item link="#" title="Version">
                    <f7-icon  icon="demo-list-icon"></f7-icon>
                </f7-list-item>
                <f7-list-item link="#" title="Log out">
                    <f7-icon  icon="demo-list-icon"></f7-icon>
                </f7-list-item>

            </f7-list>
        </f7-block>
        <f7-toolbar tabbar bottom-md class="not-overflow">
            <footer-section active="account"></footer-section>
        </f7-toolbar>
    </f7-page>
</template>
<script>
import HeaderSection from './../components/header'
import FooterSection from './../components/footer'
export default {
  data () {
    return {
      isBottom: false
    }
  },
  components: {
    HeaderSection,
    FooterSection
  }
}
</script>
<style scoped>
  .md .list .item-content{
      padding-left: 0 !important;
  }
  .md .list.inset.ln_mr_0{
      margin: 0;
  }

  .ln_mr_0 .media-list .item-media img,
  .ln_mr_0 li.media-item .item-media img{
      border-radius: 50%;
  }
  .ln_dfex{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
  }
  .ln_dfex_h4{
      margin-right: 10px;
  }
.md .icon-checkbox.ln_icon-checkbox,
.md .checkbox i.ln_icon-checkbox{
    border-radius: 50%;
}
/* account_marker_checks */
.account_marker_checks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    min-height: 50px;
    background-color: #ccc;
    border-radius: 4px;
}
.account_marker_cover{
    display: flex;
    align-items: center;
}
.account_marker_cover_1{
padding: 7px;
border-radius: 4px;
background-color: #fff;
}
.account_marker_cover_2span1{
font-size: 14px;
display: block;
}
.account_marker_cover_2span2{
  font-size: 12px;
  display: block;
}

</style>
