<template>
    <f7-page>
        <header-section></header-section>
        <f7-block>
          <f7-card class="demo-facebook-card">
              <div class="card_cover" style="background-image: url(https://cdn.framework7.io/placeholder/nature-1000x700-8.jpg)">
                <div class="card_cover_top_contents">
                  <p class="size16_regular">COLLECTION</p>
                  <h2 class="size32_regular" >The only reason for time</h2>
                  <h5 class="size12_regular">Is so that everything doesn't happen at once</h5>
                </div>
                <div class="card_cover_bottom_contents">
                  <p class="size16_regular">1 / 6</p>
                    <f7-button class="btn_all"  round>
                     SHOW ALL
                    </f7-button>
                </div>
              </div>
          </f7-card>
      <f7-list media-list>

        <f7-list-item
          link="#"
          subtitle="Beatles"
          text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus."
        >
          <img slot="media" src="http://lorempixel.com/160/160/people/1" width="80" />
        </f7-list-item>
        <f7-list-item
          link="#"
          subtitle="Beatles"
          text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus."
        >
          <img slot="media" src="http://lorempixel.com/160/160/people/1" width="80" />
        </f7-list-item>
      </f7-list>

      <f7-list>
        <div class="main_collections">
          <div class="main_collections_left">
              <div class="main_collections_1">
                <div class="main_collections_1_img">
                  <img slot="media" src="http://lorempixel.com/160/160/people/1"/>
                </div>
                <div class="main_collections_1_content">
                  <p class="size16_regular">Le Petfdsfit Prince</p>
                  <p class="size16_regular">$65</p>
                </div>
              </div>
              <div class="main_collections_1">
                <div class="main_collections_1_img">
                  <img slot="media" src="http://lorempixel.com/160/160/people/1"/>
                </div>
                <div class="main_collections_1_content">
                  <p class="size16_regular">Le Petit Prince</p>
                  <p class="size16_regular">$65</p>
                </div>
              </div>
          </div>
          <div class="main_collections_right">
            <div class="main_collections_1">
                <div class="main_collections_1_img">
                  <img slot="media" src="http://lorempixel.com/160/160/people/1"/>
                </div>
                <div class="main_collections_1_content">
                  <p class="size16_regular">Le Petit Prince</p>
                  <p class="size16_regular">$65</p>
                </div>
              </div>

              <div class="main_collections_1">
                <div class="main_collections_1_img">
                  <img slot="media" src="https://cdn.framework7.io/placeholder/nature-1000x700-8.jpg"/>
                </div>
                <div class="main_collections_1_content">
                  <p class="size16_regular">Le Petit Prince</p>
                  <p class="size16_regular">$65</p>
                </div>
              </div>
          </div>
        </div>
      </f7-list>
        </f7-block>
        <f7-toolbar tabbar bottom-md class="not-overflow">
            <footer-section active="home"></footer-section>
        </f7-toolbar>
    </f7-page>
</template>
<script>
import HeaderSection from './../components/header'
import FooterSection from './../components/footer'
export default {
  data () {
    return {
      isBottom: false
    }
  },
  components: {
    HeaderSection,
    FooterSection
  }
}
</script>

<style scoped>
.card_cover{
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding: 15px;
   color: #fff;
   z-index: 2;
   position: relative;
   min-height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}
.card_cover::before{
  background-color: rgba(13, 12, 12, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  content: "";
}
.size16_regular{
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
}
.size32_regular{
  font-size: 32px;
  margin: 0;
}
.size12_regular{
  font-size: 12px;
  margin: 0;
}
.card_cover_bottom_contents{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn_all{
  background-color: #999999;
  color: #fff;
}
.main_collections{
  display: flex;
  justify-content: space-between;
}
.main_collections_left,
.main_collections_right{
  width: 48%;
}
.main_collections_1_img{
  width: 100%;
  height:auto;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
.main_collections_1_img img{
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
}
.main_collections_1{
  margin-bottom: 15px;
  background-color: #9999;
  border-radius: 4px;
  padding: 10px;
}
</style>
