<template>
  <f7-page>
      <a @click="show()"> Show </a>
  </f7-page>
</template>

<script>
export default {
  name: 'qrcode',
  mounted () {
    this.scan()
    this.prepare()
  },
  methods: {
    show () {
      alert('show')
      QRScanner.show(function (status) {
        console.log(status)
      })
    },
    scan () {
      var callback = function (err, contents) {
        if (err) {
          console.error(err._message)
        }
        alert('The QR Code contains: ' + contents)
      }

      window.QRScanner.scan(callback)
    },
    prepare () {
      var done = function (err, status) {
        if (err) {
          console.error(err._message)
        } else {
          console.log('QRScanner is initialized. Status:')
          console.log(status)
        }
      }

      window.QRScanner.prepare(done)
    }
  }
}
</script>

<style scoped>

</style>
