<template>
    <f7-page>
        <header-section></header-section>
        <f7-block>
        <f7-list>
            <h2 class="size32_regular" >Category</h2>
            <div class="main_collections">
              <div class="main_collections_left">
                  <div class="main_collections_1">
                    <div class="main_collections_1_img">
                      <img slot="media" src="http://lorempixel.com/160/160/people/1"/>
                    </div>
                    <div class="main_collections_1_content">
                      <p class="size16_regular">Le Petit Prince</p>
                      <p class="size16_regular">$65</p>
                    </div>
                  </div>
                  <div class="main_collections_1">
                    <div class="main_collections_1_img">
                      <img slot="media" src="http://lorempixel.com/160/160/people/1"/>
                    </div>
                    <div class="main_collections_1_content">
                      <p class="size16_regular">Le Petit Prince</p>
                      <p class="size16_regular">$65</p>
                    </div>
                  </div>
              </div>
              <div class="main_collections_right">
                <div class="main_collections_1">
                    <div class="main_collections_1_img">
                      <img slot="media" src="http://lorempixel.com/160/160/people/1"/>
                    </div>
                    <div class="main_collections_1_content">
                      <p class="size16_regular">Le Petit Prince</p>
                      <p class="size16_regular">$65</p>
                    </div>
                  </div>

                  <div class="main_collections_1">
                    <div class="main_collections_1_img">
                      <img slot="media" src="https://cdn.framework7.io/placeholder/nature-1000x700-8.jpg"/>
                    </div>
                    <div class="main_collections_1_content">
                      <p class="size16_regular">Le Petit Prince</p>
                      <p class="size16_regular">$65</p>
                    </div>
                  </div>
              </div>
            </div>
          </f7-list>
        </f7-block>
        <f7-toolbar tabbar bottom-md class="not-overflow">
            <footer-section active="shop"></footer-section>
        </f7-toolbar>
    </f7-page>
</template>
<script>
import HeaderSection from './../components/header'
import FooterSection from './../components/footer'
export default {
  data () {
    return {
      isBottom: false
    }
  },
  components: {
    HeaderSection,
    FooterSection
  }
}
</script>

<style scoped>
.main_collections{
  display: flex;
  justify-content: space-between;
}
.main_collections_left,
.main_collections_right{
  width: 48%;
}
.main_collections_1_img{
  width: 100%;
  height:auto;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
.main_collections_1_img img{
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
}
.main_collections_1{
  margin-bottom: 15px;
  background-color: #9999;
  border-radius: 4px;
  padding: 10px;
}
</style>
