<template>
    <f7-navbar innerClass="inner_class">
        <f7-link href="/qrcode" >
            <v-icon name="credit-card"></v-icon>
        </f7-link>
        <f7-searchbar class="ln_search"
                :disable-button="false"
        ></f7-searchbar>
        <f7-link href="/" >
            <i class="icon material-icons md-only">face<span class="badge color-red">5</span></i>
        </f7-link>
    </f7-navbar>
</template>

<script>
export default {
  name: 'header'
}
</script>

<style scoped>
.md .ln_search{
    width: 70% !important;
}

/*.ios .ln_search input{*/
/*    width: 70% !important;*/
/*}*/

.ios .ln_search input{
    padding: 40px auto;
}

.md .navbar{
    background-color: #9E9E9E;
}
</style>
